'scopeName': 'source.atomiix'
'fileTypes': [
  'atomiix', 'ixi'
]
'name': 'Atomiix'
'patterns': [

  {
    'match': '\\[.*?\\]'
    'name': 'constant.numeric.atomiix'
  }

  {
    'match': '\\|.*?\\|'
    'name': 'string.single.atomiix'
  }
]
