'scopeName': 'source.atomiix'
'fileTypes': [
  'atomiix', 'ixi'
]
'name': 'Atomiix'
'patterns': [

  # melodic scores
  {
    'match': '\\[.*?\\]'
    'name': 'constant.numeric.atomiix'
  }

  # percussive scores
  {
    'match': '\\|.*?\\|'
    'name': 'string.single.atomiix'
  }

  # concrete scores
  {
    'match': '\\{.*?\\}'
    'name': 'storage.atomiix'
  }

]
