// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

atom-text-editor.editor .line {
  transition:  background-color .8s ease-out;
  -webkit-transition: background-color .8s ease-out;

  &.playing {
    color: green;
  }
  &.stopped {
    color: red;
  }
  &.sleeping {
    color: gray;
  }

  &.flash {
    color: @text-color-selected;
    background-color: @background-color-selected;
  }

  &.line-error {
    background-color: fadeout(@background-color-error, 95%);
    border: 1px solid fadeout(@background-color-error, 50%);
  }

  &.line-highlight {
    background-color: @background-color-highlight;
  }

  &.eval-flash {
    color: @text-color-selected;
    background-color: @background-color-selected;
  }

  &.eval-success {
    color: @text-color-success;
    background-color: fadeout(@background-color-success, 50%);
  }

  &.eval-error,
  &.eval-syntax-error {
    color: @text-color-error;
    background-color: @background-color-error;
  }
}

atom-panel div.atomiix.console {
  &.hidden{
    display: none;
  }
  padding: 3px 10px;
  overflow: scroll;
  pre {
    font-family: Consolas, monospace;
    font-size: 14px;
    padding: 0px 3px;
    border-radius: 0px;
    &:before {
      content: "\00BB";
      margin-right: 6px;
    }
  }
  .error{
    color: @text-color-error;
  }
}

atom-panel .atomiix-help {
  @min-width: 100px;
  padding: 3px;
  overflow: scroll;

  .header {
    padding: @component-padding/4 @component-padding/2;
    min-width: @min-width;
    line-height: 1.75;
  }
  .header-item {
    margin: @component-padding/4 0;
  }
  .description {
    display: inline-block;
    .subtle-info-message {
      padding-left: 5px;
      color: @text-color-subtle;
      .highlight {
        color: @text-color;
        font-weight: normal;
      }
    }
  }

  .btn > .icon {
    width: 20px;
    height: 16px;
    vertical-align: middle;
    fill: currentColor;
    stroke: currentColor;
    pointer-events: none;
  }

  .close-button {
    margin-left: @component-padding;
    cursor: pointer;
    color: @text-color-subtle;
    &:hover {
      color: @text-color-highlight;
    }
    .icon::before {
      margin-right: 0;
      text-align: center;
      vertical-align: middle;
    }
  }

  .help-info-block {
    width: 100%;
  }

  ul {
    padding-inline-start: 20px;
  }


}
